---
title: "Project Code"
subtitle: LCJJ
author: Lainey Neild, Charlie Lovett, Jacob Muriel, Jack Troxel
date: 02/27/2023
number-sections: true
abstract: _This file contains the code for the project on Alcohol Consumption, as part of the STAT303-2 course in Winter 2023_.
format: 
  html:
    toc: true
    toc-title: Contents
    self-contained: true
    font-size: 100%
    toc-depth: 4
    mainfont: serif
jupyter: python3
---

## Data quality check / cleaning / preparation 

Put code with comments. The comments should explain the code such that it can be easily understood. You may put text *(in a markdown cell)* before a large chunk of code to explain the overall purpose of the code, if it is not intuitive. **Put the name of the person / persons who contributed to each code chunk / set of code chunks.** An example is given below.

In [1]:
import pandas as pd

In [93]:
alcuse = pd.read_csv('datasets/alcohol use (had any alcohol).csv')

In [94]:
alcuse = alcuse.dropna(how = 'all',axis =1)
alcuse = alcuse.drop(columns = {'IndicatorCode','Indicator','ValueType','IsLatestYear','Period','Location type','Dim1 type','Dim1ValueCode','Language','DateModified','SpatialDimValueCode','ParentLocationCode','Value','Period type'})

In [123]:
alcuse.rename(columns = {'Location':'Country', 'FactValueNumeric':'percent_alcohol_users', 'ParentLocation':'Region'}, inplace = True)

In [124]:
alcuse = alcuse[alcuse.percent_alcohol_users != '.'].sort_values(by = 'Country').reset_index(drop = True)

In [125]:
alcuse.head()

                  Region      Country        Dim1 percent_alcohol_users
0  Eastern Mediterranean  Afghanistan      Female                   0.3
1  Eastern Mediterranean  Afghanistan        Male                     1
2  Eastern Mediterranean  Afghanistan  Both sexes                   0.7
3                 Europe      Albania        Male                    65
4                 Europe      Albania      Female                  37.6

In [126]:
alcuse2 = alcuse.pivot(index = ['Region','Country'], columns = 'Dim1', values = 'percent_alcohol_users')

In [138]:
alcuse2.head()

Dim1                Both sexes Female  Male
Region Country
Africa Algeria             3.2    1.5   4.8
       Angola             47.7   34.3  61.6
       Benin              26.1   15.4    37
       Botswana             32     20    44
       Burkina Faso       36.9   23.2  51.2

In [136]:
alcuse2.to_csv('datasets/CLEANED_alcohol_use.csv')

In [128]:
heavy = pd.read_csv('datasets/heavy drinking (of people who drink).csv')

In [117]:
heavy = heavy.dropna(how = 'all',axis =1)
heavy = heavy.drop(columns = {'IndicatorCode','Indicator','ValueType','IsLatestYear','Period','Location type','Dim1 type','Dim1ValueCode','Language','DateModified','SpatialDimValueCode','ParentLocationCode','Value','Period type'})

In [129]:
heavy.rename(columns = {'Location':'Country', 'FactValueNumeric':'percent_heavy_drinkers', 'ParentLocation':'Region'}, inplace = True)

In [130]:
heavy = heavy[heavy.percent_heavy_drinkers != '.'].sort_values(by = 'Country').reset_index(drop = True)

In [132]:
heavy2 = heavy.pivot(index = ['Region','Country'], columns = 'Dim1', values = 'percent_heavy_drinkers')

In [137]:
heavy2.to_csv('datasets/CLEANED_heavy_drinkers.csv')

In [155]:
#DONE
disorders_by_age = pd.read_csv('Datasets/CLEANED_alc_disorders_by_age.csv')
disorders_by_age = disorders_by_age.loc[disorders_by_age.Year == 2016]
#DONE
dependence = pd.read_csv('Datasets/CLEANED_alcohol_dependence.csv')
dependence = dependence.rename(columns={'Both sexes':'perc_dependent','Female':'perc_dependent_female','Male':'perc_dependent_male'})
#DONE
use_disorders = pd.read_csv('Datasets/CLEANED_alcohol use disorders.csv')
#DONE
alcohol_use = pd.read_csv('Datasets/CLEANED_alcohol_use.csv')
alcohol_use = alcohol_use.rename(columns={'Both sexes':'perc_consume_alc_past12','Female':'perc_consume_alc_past12Female','Male':'perc_consume_alc_past12Male'})
#DONE
beershare = pd.read_csv('Datasets/CLEANED_beer-as-share-alcohol-consumption.csv')
#DONE
heavy_drinkers = pd.read_csv('Datasets/CLEANED_heavy_drinkers.csv')
heavy_drinkers = heavy_drinkers.rename(columns={'Both sexes': 'perc_heavy_drinkers_both_sexes','Female':'perc_heavy_drinkers_female','Male':'perc_heavy_drinkers_male'})
#DONE
spiritsshare = pd.read_csv('Datasets/CLEANED_spirits-as-share-alcohol-consumption.csv')
#DONE
wineshare = pd.read_csv('Datasets/CLEANED_wine-as-share-alcohol-consumption.csv')
#DONE
gdp = pd.read_csv('Datasets/CLEANED_alcohol-consumption-vs-gdp-per-capita.csv')
#DONE
prevalence_use_disorders_by_age = pd.read_csv('Datasets/CLEANED_prevalence-of-alcohol-use-disorders-by-age.csv')
prevalence_use_disorders_by_age = prevalence_use_disorders_by_age.loc[prevalence_use_disorders_by_age.Year == 2016]
#DONE
alcinyear = pd.read_csv('Datasets/CLEANED_share-of-adults-who-drank-alcohol-in-last-year.csv')
#DONE
neverdrank = pd.read_csv('Datasets/CLEANED_share-of-population-who-never-drink-alcohol.csv')
neverdrank = neverdrank.rename(columns= {'Lifetime Abstainers': 'perc_life_no_drink'})
#DONE
neverdrankyear = pd.read_csv('Datasets/CLEANED_share-who-have-not-drank-alcohol-in-last-year.csv')
#DONE
totalconsumption = pd.read_csv('Datasets/CLEANED_total-alcohol-consumption-per-capita-litres-of-pure-alcohol.csv')
totalconsumption = totalconsumption.loc[totalconsumption.Year == 2015]

In [169]:
data = pd.merge(wineshare,beershare)
data = pd.merge(data,spiritsshare)
data = pd.merge(data,gdp, how = 'outer')
data = data.drop(columns = {'Year','Unnamed: 0'})
data = pd.merge(data,neverdrankyear, how = 'outer')
data = pd.merge(data,neverdrank, how = 'outer')
data = pd.merge(data,totalconsumption, on = 'Country', how = 'outer')
data = pd.merge(data,alcinyear, on = 'Country', how = 'outer')
data = pd.merge(data,prevalence_use_disorders_by_age, on = 'Country')
data = pd.merge(data,disorders_by_age, on = 'Country')
data = pd.merge(data,use_disorders, on = 'Country', how = 'outer')
data = pd.merge(data,heavy_drinkers, on = 'Country', how = 'outer')
data = pd.merge(data,alcohol_use, on = 'Country', how = 'outer')
data = pd.merge(data,dependence, on = 'Country', how = 'outer')
data = data.drop(columns={'Region_y','Unnamed: 0_x','Region_x','Unnamed: 0_y','Year_x'})

/var/folders/8r/9lj6p8855h77pyqwtfm2z63m0000gn/T/ipykernel_49131/375938776.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  data = pd.merge(data,prevalence_use_disorders_by_age, on = 'Country')
/var/folders/8r/9lj6p8855h77pyqwtfm2z63m0000gn/T/ipykernel_49131/375938776.py:11: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  data = pd.merge(data,use_disorders, on = 'Country', how = 'outer')
/var/folders/8r/9lj6p8855h77pyqwtfm2z63m0000gn/T/ipykernel_49131/375938776.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Region_x'} in the result is deprecated and will raise a MergeError in a future version.
  data = pd.merge(data,alcohol_use, on = 'Country', how = 'outer')

In [172]:
data.columns

Index(['Country', 'wine_as_share_alcohol_consumption',
       'beer_as_share_alcohol_consumption',
       'spirits_as_share_alcohol_consumption',
       'tot_alcohol_consumption_per_capita_liters', 'gdp_per_capita',
       'Population', 'percent_who_have_not_drank_alcohol_in_last_year',
       'perc_life_no_drink', 'total_alcohol_consumption_per_capita_liters',
       'percent_who_have_drank_alcohol_in_last_year', 'Year_y',
       'prev_alc_use_disorders_age_10_14', 'prev_alc_use_disorders_age_15_19',
       'prev_alc_use_disorders_all_ages', 'prev_alc_use_disorders_age_25_29',
       'prev_alc_use_disorders_age_30_34', 'prev_alc_use_disorders_age_20_24',
       'prev_alc_use_disorders_age_70+', 'prev_alc_use_disorders_age_15_49',
       'prev_alc_use_disorders_age_5_14', 'prev_alc_use_disorders_age_50_69',
       'prev_alc_use_disorders_age_standardized', 'Year',
       'daly_alc_use_disorders_all_ages', 'daly_alc_use_disorders_70+',
       'daly_alc_use_disorders_5_14', 'daly_alc_use_disorders_15_49',
       'daly_alc_use_disorders__all_ages_standardized',
       'daly_alc_use_disorders_50_69', 'share_alc_use_disorders_both_sexes',
       'share_alc_use_disorders_female', 'share_alc_use_disorders_male',
       'perc_heavy_drinkers_both_sexes', 'perc_heavy_drinkers_female',
       'perc_heavy_drinkers_male', 'perc_consume_alc_past12',
       'perc_consume_alc_past12Female', 'perc_consume_alc_past12Male',
       'Region', 'perc_dependent', 'perc_dependent_female',
       'perc_dependent_male'],
      dtype='object')

### Data quality check
*By Elton John*

The code below visualizes the distribution of all the variables in the dataset, and their association with the response.

In [7]:
#...Distribution of continuous variables...#

In [8]:
#...Distribution of categorical variables...#

In [9]:
#...Association of the response with the predictors...#

### Data cleaning
*By Xena Valenzuela*

From the data quality check we realized that:

1. Some of the columns that should have contained only numeric values, specifically <>, <>, and <> have special characters such as \*, #, %. We'll removes these characters, and convert the datatype of these columns to numeric.

2. Some of the columns have more than 60% missing values, and it is very difficult to impute their values, as the values seem to be missing at random with negligible association with other predictors. We'll remove such columns from the data.

3. The column `number_of_bedrooms` has some unreasonably high values such as 15. As our data consist of single-family homes in Evanston, we suspect that any value greater than 5 may be incorrect. We'll replace all values that are greater than 5 with an estimate obtained using the $K$-nearest neighbor approach.

4. The columns `house_price` has some unreasonably high values. We'll tag all values greater than 1 billion dollars as "potentially incorrect observation", to see if they distort our prediction / inference later on.

The code below implements the above cleaning.

In [ ]:
#...Code with comments...#

### Data preparation
*By Sankaranarayanan Balasubramanian and Chun-Li*

The following data preparation steps helped us to prepare our data for implementing various modeling / validation techniques:

1. Since we need to predict house price, we derived some new predictors *(from existing predictors)* that intuitively seem to be helpuful to predict house price. 

2. We have shuffled the dataset to prepare it for K-fold cross validation.

3. We have created a standardized version of the dataset, as we will use it to develop Lasso / Ridge regression models.

In [3]:
######---------------Creating new predictors----------------#########

#Creating number of bedrooms per unit floor area

#Creating ratio of bathrooms to bedrooms

#Creating ratio of carpet area to floor area

In [ ]:
######-----------Shuffling the dataset for K-fold------------#########

In [ ]:
######-----Standardizing the dataset for Lasso / Ridge-------#########

## Exploratory data analysis

Put code with comments. The comments should explain the code such that it can be easily understood. You may put text *(in a markdown cell)* before a large chunk of code to explain the overall purpose of the code, if it is not intuitive. **Put the name of the person / persons who contributed to each code chunk / set of code chunks.**

## Developing the model

Put code with comments. The comments should explain the code such that it can be easily understood. You may put text *(in a markdown cell)* before a large chunk of code to explain the overall purpose of the code, if it is not intuitive. **Put the name of the person / persons who contributed to each code chunk / set of code chunks.**

### Code fitting the final model

Put the code(s) that fit the final model(s) in separate cell(s), i.e., the code with the `.ols()` or `.logit()` functions.

## Conclusions and Recommendations to stakeholder(s)

You may or may not have code to put in this section. Delete this section if it is irrelevant.